<%= form_for(entry) do |f| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :event %>
    <%= f.text_field :event, :class => "form-control" %>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :event_date %>
        <%= f.date_field :event_date, :value => Date.today, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :total_amount %>
        <%= f.number_field :total_amount, :class => "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="hidden">
    <%= f.text_field :user_id, :value => 1 %>
  </div>


  <%= select_tag("entry[users][][user_id]", options_for_select([['Amar', 1], ['Akbar', 2], ['Anthony', 3]], 1)) %> paid <input type="number" name="entry[users][][amount_paid]" class="amount-paid" placeholder="Amount">.
  <br>
    You are splitting this bill evenly with:
  <br>
  <br>



  <div class="form-group">
    <%= select_tag('entry[users][][user_id]', options_for_select([['Amar', 1], ['Akbar', 2], ['Anthony', 3]], 2)) %>
    paid <input type="number" name="entry[users][][amount_paid]" class="amount-paid" placeholder="Amount" >
  </div>
  <div class="form-group">
    <%= select_tag('entry[users][][user_id]', options_for_select([['Amar', 1], ['Akbar', 2], ['Anthony', 3]], 3)) %>
    paid <input type="number" name="entry[users][][amount_paid]" class="amount-paid" placeholder="Amount">
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <br>
  <div id="guests-on-bill"></div>
  <br>

  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-success" %>
  </div>
<% end %>
