<%= render 'shared/navbar' %>

<h1> Everything will be settled here </h1>
<br>
<br>
<div class="container">
	<ul>
		<li><%= @user.name %> received Rs. <%= @amount_paid %> from <%= current_user %></li>
		<li><%= @user.name %> received Rs. <%= @amount_paid %> from <%= current_user %></li>
	</ul>
</div>