<style type="text/css">
   .hidden{
  display: none;
 }

 body { padding-top: 70px; }

 .form-body{
  background-color: #dddddd;
  padding: 50px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 40px;
 }
</style>

<%= render 'shared/navbar' %>

<div class="alert alert-info alert-dismissible" role="alert" style="margin-top: -19px;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Dummy Sign in credentials</h3>
      <p>Email: 1@1.com </p>
      <p>Password: amar123 </p>
    </div>
    <div class="col-md-4">
      <div class="form-body" style="margin: 20px;">
        <h1>Log In</h1>
        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form-horizontal") do |f| %>

          

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control" %>
          </div>
          <br>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>
          <br>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <br>
          <div class="actions">
            <%= f.submit "Log in", :class => "btn btn-primary" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        </div>
    </div>
    <div class="col-md-4"></div>
    
  </div>
</div>

