<!DOCTYPE html>
<html>
  <head>
    <title>BillSplit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'bootstrap' %>
    <%= stylesheet_link_tag    'entries' %>

    
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= stylesheet_link_tag    'entries' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>